<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    
/* basic setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
  
   margin-right: 30px;
    text-align: center;
    font-size:150% ;
}
.row h2{
    padding-bottom: 50px;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}
/*header */

header{
    background-image: linear-gradient(rgba(133, 121, 121, 0),rgba(0,0,0,10)),url(https://thumbs.dreamstime.com/b/red-curry-roast-duck-grilled-vegetable-fritters-five-star-food-76068068.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-attachment: fixed;
    
}
.brand{
    text-align: center;
    padding-top: 10%;
    font-size: 150%;
    word-spacing: 2px;
    color: aliceblue;

    
    letter-spacing: 1px;

}

blockquote{
    color: rgb(255, 255, 255);
    margin-top: 20px;
   
}
.image img{
    
    margin-top: 100px;
      width: 700px;
      height: 400px;
      float: left;

}
/*section{
    background-color: rgba(207, 206, 206, 0.87);
}
*/
.image p h3{
    float: left;
    padding-top: 200px;
    padding-left: 50px;
    font-size: 250%;

}
.section-steps{
    background-color: #f4f4f4;
}
.about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    
}
.about-me img{
    width: 40%;
}
.about-me_c{
    /* background-color: lightblue; */
    margin: 50px;
    padding: 20px;
    width: 50%;
}

.about-me_c p{
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 10px;
    font-size: 120%;
}
.about-me_c h1{
    font-size: 200%;
}




.about-me-n img  {
        float: right;
        width: 40%;
        

}







footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}
@media screen and (max-width:700px){
.brand{
    font-size: medium;
    padding-top: 35%;
    padding-bottom: 35%;
      }

    .about-me{
    display: block;
     }
    .about-me-n{
    display: block;
    }
  .about-me_c{
    display: block;
    width: 100%;
    margin: 0%;
    padding: 0%;
     }
      
    
     .footer-nav{
        display: block;
        width: 100%;
        margin: 0%;
        padding: 0%;
     }
}


/* Contact us*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}



.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    
}


.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}
.navbar{
    /* float: right; */
    /* position: fixed; */
    text-align: right;
    background-image: linear-gradient(rgba(133, 121, 121, 0),rgba(0,0,0,10)),url(https://thumbs.dreamstime.com/b/red-curry-roast-duck-grilled-vegetable-fritters-five-star-food-76068068.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* height: 100vh; */
    color: white;
    z-index: 2;
}
.navbar a{
    float: right;
}
  </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet"  type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="fonts/ionicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="dashboard.ejs">Home</a>
            </li>  
          <li class="nav-item">
            <a class="nav-link" href="AboutUs.ejs">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Blog.ejs">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="PhotoGallery.ejs">Photo Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Review.ejs">Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Subscription.ejs">Subscribe</a>
          </li>
          <li class="nav-item">
            <a href="/users/logout" class="nav-link">Log Out</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
    <header>
        
     <div class="brand">
    <h2>Brand Vision </h2>

    <blockquote>
        We created zone for all: all people, all cuisines, and for the common good of all beings and our planet. 
    </blockquote>
</div>

    </header>
<section class="section-steps">  
    <div class="story">
    <div class="row">
    <h1>
        Plantpower to All. <br>
All Plant. All Cuisines. All Impact.
    </h1>
    
    </div>
    <div class="about-me">
        <img src="https://static.toiimg.com/photo/72023714.cms" alt="">
        <div class="about-me_c">
            <h1>Our Story</h1>
            <p>Today’s global livestock industry carries a greater
                 carbon footprint than all transportation combined. 
                 It is extremely wasteful and inefficient in its use of the earth's precious land and water resources. 
                 Our need for more and more land to fuel the food industry has led to vast global deforestation which has a significant knock-on impact on our environment and ecosystems. This same industry is also one of the main sources of soil and water pollution. Taking the global pork industry as one example, an estimated 1.29 billion metric tonnes of waste is produced by the Chinese pork industry each year, and in North America, the hog industry has emitted so much nitrogen and phosphorus pollution that it has created a so-called “dead zone” in the Gulf of Mexico - 
                 an oxygen-depleted ocean.</p>
            
        </div>
    </div>
</section>

    <div class="about-me-n">
        <img src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-89188,resizemode-1,msid-88785595/magazines/panache/in-an-age-of-ordering-food-in-biryanis-gain-is-the-thalis-loss.jpg" alt="">
        <div class="about-me_c">
            <h1>Why HUNGER</h1>
            <p>  Food innovation company launched by its parent company, Green Monday. Our experienced team of food scientists in Canada innovated this product based on years of extensive research on Asian cuisines and culinary practices.

                HungerZone is the all-purpose solution of Green Monday - a diversified and innovative social enterprise model - to promote shifting to a plant-based diet as a crucial means to tackle global warming and food insecurity.
                
                Since its establishment in 2012, Green Monday has worked with over 1000 restaurants globally, as well as schools and other companies, and effectively cultivated an awareness and appreciation for a plant-based lifestyle for the sake of the planet. A survey released by an international consultant in Dec 2018 revealed that Green Monday has helped increase the number of flexitarians in Hong Kong to an impressive 1.75M!
                
                Already adopted by schools and government authorities within 30+ countries across the globe, Green Monday's reach continues its global expansion, transforming diets and habits around the world for a better planet.</p>
            
        </div>
    </div>
</div>
  
<section class="section-form">
    <div class="row">
        <h2>We're happy to hear from you</h2>
    </div>
    <div class="row">
        <form method="post" action="#" class="contact-form">
            <div class="row">
                <div>
                    <label for="name">Name</label>
                </div>
                <div>
                    <input type="text" name="name" id="name" placeholder="Your name" required>
                </div>
            </div>
            <div class="row">
                <div>
                    <label for="email">Email</label>
                </div>
                <div>
                    <input type="email" name="email" id="email" placeholder="Your email" required>
                </div>
            </div>
            <div class="row">
                <div>
                    <label for="find-us">How did you find us?</label>
                </div>
                <div >
                    <select name="find-us" id="find-us">
                        <option value="friends" selected>Friends</option>
                        <option value="search">Search engine</option>
                        <option value="ad">Advertisement</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
          
            <div class="row">
                <div >
                    <label>Drop us a line</label>
                </div>
                <div >
                    <textarea name="message" placeholder="Your message"></textarea>
                </div>
            </div>
            <div class="row">
                <div>
                    <label>&nbsp;</label>
                </div>
                <div class="btn">
                    <input type="submit" value="Send it!">
                </div>
            </div>
            
        </form>
        
    </div>
</section>   
</section>
<!-- ------------------------------footer--------------------- -->

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container ">
    <!-- Section: Social media -->
    <section class="">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white">Hungerzone</a>
  </div>
  <!-- Copyright -->
</footer> 


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    
</body>
</html>