<!doctype html>
<html lang="en">
  <head>
      <style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------header ----------------------------------*/
header{
    background-image: url(https://media.istockphoto.com/photos/filipino-food-table-picture-id1321284752?k=20&m=1321284752&s=612x612&w=0&h=hmnitpjxZQdqCZj1zS-LP49fPXPB9NLqji8NGIcyi80=);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70vh;
    margin-bottom: 50px;
    overflow: hidden;
}
.return
{   
    font-family: 'Lato', 'Arial', sans-serif;
    /* margin: 20px; */
    padding: 20px;
    font-size: 18px;
    text-align: right;
    color: white;
    position: relative;
    margin-right: 20px;
}
.return a{
    color: rgb(87, 0, 0);
    text-decoration: none;
}
.return a:hover{
    color: #fff;
    /* border-bottom: solid 1px rgb(87, 0, 0); */
    /* text-decoration: none; */
}
.heading{
    color: rgb(41, 41, 41);
    background-color: rgba(255, 255, 255, 0.473);
    overflow: hidden;
    font-size: 48px;
    padding: 10%;
    margin: 0%;
    width: 80%;
}
center{
    margin: 0%;
}

h1 {
    font-size: 200%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-family: 'Lato', 'Arial';
    margin: 0%;
}
@media screen and (max-width:700px)
{
    .heading{
        font-size: medium;
        padding-top: 35%;
        padding-bottom: 35%;
    }
}

.container{
    padding: 5px;
    margin: 20px;
    /* background-color: #dd4b39; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.058), 0 6px 20px 0 rgba(0, 0, 0, 0.295);
}
.container:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.432), 0 6px 20px 0 rgba(0, 0, 0, 0.459);
}


      </style>
    <title>review page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <header>
        <div class="return"><a href="" class="button" type="button"></a></div>
        <center><div class="heading"><h1>REVIEWS</h1></div></center>
    </header>

    <div class="container">
    <div class="form-group">
        <label for="title">Name</label>
        <input type="text" id="title" aria-describedby="emailHelp" class="form-control">
        <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="description">description</label>
          <textarea id="description" rows="3" class="form-control"></textarea>
      </div>

    <button id="add" onclick="check()" class="btn btn-primary btn-sm" type="submit">Add Comment</button>
</div>
    <div class="container">
        <div class="text-center"></div>
        
        <div id="items" class="my-4">
            <h2>Comments</h2>
        </div>
        <table class="table">
            <tbody id="tableBody">
                <tr>
                    <td>get same coffee</td>
                    <td><button class="btn btn-sm btn-primary">Delete</button></td>
                </tr>
                <td>you need coffee</td>
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container ">
          <!-- Section: Social media -->
          <section class="">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
      
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">Hungerzone</a>
        </div>
        <!-- Copyright -->
      </footer>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        tit = document.getElementById('title').value;
        desc = document.getElementById('description').value;

        

        function getAndUpdate(){
            console.log('updating...');
            tit = document.getElementById('title').value;
            desc = document.getElementById('description').value;

            if (localStorage.getItem('itemsJson')==null){
                itemJsonArray = [];
                itemJsonArray.push([tit,desc])
                localStorage.setItem('itemsJson', JSON.stringify(itemJsonArray))
            }
            else{
                itemJsonArrayStr = localStorage.getItem('itemsJson')
                itemJsonArray = JSON.parse(itemJsonArrayStr);
                itemJsonArray.push([tit, desc]);
                localStorage.setItem('itemsJson', JSON.stringify(itemJsonArray))
            }
            update();
        }


        function update(){

            if (localStorage.getItem('itemsJson')==null){
                itemJsonArray = [];
                localStorage.setItem('itemsJson', JSON.stringify(itemJsonArray))
            }
            else{
                itemJsonArrayStr = localStorage.getItem('itemsJson')
                itemJsonArray = JSON.parse(itemJsonArrayStr);
            }


            let tableBody = document.getElementById("tableBody");
            let str = "";
            itemJsonArray.forEach((element, index) => {
                str += `
                <tr>
                    <th>${element[0]}</th>
                    <td><button class="btn btn-sm btn-primary" onclick="deleted(${index})">delete</button></td>
                    </tr>
                <tr>
                    <td>${element[1]}</td>
                </tr>
                `                
            });
            tableBody.innerHTML = str;
        }
        
        add = document.getElementById("add");
        add.addEventListener("click", getAndUpdate);

        update();

        function deleted(itemIndex){
            console.log("Delete", itemIndex)
            itemJsonArrayStr = localStorage.getItem('itemsJson')
            itemJsonArray = JSON.parse(itemJsonArrayStr);
//deleting
            itemJsonArray.splice(itemIndex, 1);
            localStorage.setItem('itemsJson', JSON.stringify(itemJsonArray));
            update();
        }
    
    </script>
</body>
</html>